.hero {
    margin-top: 50px !important;

    &__info {
        max-width: 592px;
        width: 100%;

        button {
            text-decoration: none;
            padding: 0.75rem 1.5rem;
            background-color: #3a0061;
            border: 1px solid #3a0061;
            color: white;
            cursor: pointer;
            border-radius: 30px;
            margin-right: 0.5rem;
            display: inline-block;
        }

        button:hover,
        button:active {
            background-color: #270041;
            border-color: #270041;
        }

        .flat {
            padding: 10px 20px !important;
            background: #057ef6;
            border-radius: 200px;
            color: #ffffff;
            border: none;
        }

        .flat:hover,
        .flat:active {
            background-color: #057ef6;
            opacity: 0.5;
        }

        span {
            color: #057ef6;
            width: 100%;
            word-wrap: break-word !important;
        }

        &--heading {
            margin-bottom: 30px !important;
            font-weight: 500;
            font-size: 58px;
            line-height: 124%;
            width: 100%;
            color: #2e363e;
        }

        &--text {
            margin-bottom: 60px !important;
            color: #6a727a;
            font-size: 20px;
            width: 100%;
            line-height: 140%;
        }
    }

    &__img {
        width: 100%;
        img {
            width: 100%;
            border-radius: 34px;
        }
    }
}

@media (max-width: 992px) {
    .hero {
        justify-content: center !important;
        margin-top: 40px !important;
        flex-wrap: wrap;
        &__info {
            padding-top: 0 !important;
            margin-bottom: 40px !important;
            display: flex;
            flex-direction: column;
        }
    }
}

@media (max-width: 576px) {
    .hero__info {
        padding: 0 !important;

        &--heading {
            font-size: 40px;
            margin-bottom: 20px !important;
        }
        &--text {
            margin-bottom: 40px !important;
            font-size: 16px;
        }

        .a button {
            width: 100% !important;
        }

        .wrapper {
            width: 100% !important;
        }
    }
}

@media (max-width: 475px) {
    .hero__info {
        padding: 0 !important;

        &--heading {
            font-size: 40px;
        }
        &--text {
            margin-bottom: 30px !important;
            font-size: 12px;
        }
    }
}
