section {
    padding: 80px 0 !important;
    background: #2e363e;
    .gallery {
        background: #2e363e;
        &__info {
            h4 {
                font-weight: 500;
                font-size: 54px;
                line-height: 124%;
            }
            p {
                font-size: 20px;
                line-height: 140%;
            }
        }

        &__r {
            border-radius: 34px;
            background-image: url("@/assets/Images/G-Image4.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
@media (max-width: 768px) {
    section {
        padding: 40px 0 !important;

        .gallery__info {
            h4 {
                margin-bottom: 10px !important;
                font-size: 40px;
            }
            p {
                margin-bottom: 10px !important;

                font-size: 16px;
            }
        }
    }
}
@media (max-width: 475px) {
    section {
        padding: 30px 0 !important;

        .gallery__info {
            h4 {
                margin-bottom: 30px !important;
                font-size: 34px;
            }
            p {
                margin-bottom: 40px !important;
                font-size: 12px;
            }
        }

        .gallery__l {
            width: 100% !important;

            // &__list {
            //     align-items: normal !important;
            // }
        }

        .gallery__r {
            display: none;
        }
    }
}
